.third{
    height: 200px;
    border: solid;
}


.Sim{
    background-color: transparent !important;
    box-shadow: 0px 0px !important
}


.addressSearchContainer{
    position: absolute;
    width: 25%;
    height: 100px;
    left: 50%;
    top: 31%;
    margin-left: -50px;
    margin-top: -50px;
}