 
body{
    background-color: black !important
}
.loading-container{
    color: white
}
.browse-container{
    width: 100vw;
    height:100vh;
    // border:solid
}


.side-nav-container {
    vertical-align: top;
    min-width: 62px;
    display:inline-block;
    height:100%;
    // border: solid red;
    overflow: none;
    transition: all 2500ms linear;
    transition-delay: 200ms;
}
.main-browse-container {
    display: inline-block;
    // border: solid green;
    height: 100%;
    width: 100%;
    background-color: #000000;
}
.main-browse-container-tran{
    display: inline-block;
    // border: solid green;
    height: 100%;
    width: 100%;
    background-color: #000000;
    transition: all 2500ms linear;
    transition-delay: 200ms;
}
.inner-container-tran{
   
    height: 100%;
    position: relative;
    box-shadow: 10px 10px 5px #000000;
    
    transition: all 2500ms linear;
    transition-delay: 200ms;
}


#container {
    white-space:nowrap;
    height:100vh;
}

.side-nav-top{
    height: 33.3%;
    // border: solid;
}
.side-nav-middle{
    height: 33.3%;
    // border: solid;
}
.side-nav-bottom{
    height: 33.3%;
    // border: solid;
}

.nav-logo{
    height: 30px;
    margin-left: 19px;
    margin-top: 15px;
}




