/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .location-search-input{
        margin-left: -44px;
    }
    .choice-container {  
       margin-top: 65px;  
    }
    .center-line {
        margin-left: 0%;
        border: solid #2f2f2f;
         height: 0px; 
        width: 70%;
        border-width: 0.5px;
         margin-bottom: 0px; 
        margin-top: 49px;
    }
    .search-img {
        height: 50px;
        width: 46px;
        margin-top: 38px;
        margin-left: 0px;
    }
    .search-button {
        display: block;
        background: transparent;
        color: #a0a0a0;
        border-color: #92793c;
        padding: 7px;
        width: 71px;
        margin-top: 42px;
        margin-left: 37px;
        border-top: none !important;
        border-left: none;
        border-right: none;
    }

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
    .location-search-input{
        margin-left: -44px;
    }
    .container {
        
        margin: 21px !important;
       
    }
    .center-line {
        margin-left: 0%;
        border: solid #2f2f2f;
         height: 0px; 
        width: 70%;
        border-width: 0.5px;
         margin-bottom: 0px; 
        margin-top: 49px;
    }
    .search-img {
        height: 50px;
        width: 46px;
        margin-top: 38px;
        margin-left: 0px;
    }
    .search-button {
        display: block;
        background: transparent;
        color: #a0a0a0;
        border-color: #92793c;
        padding: 7px;
        width: 71px;
        margin-top: 42px;
        margin-left: 37px;
        border-top: none !important;
        border-left: none;
        border-right: none;
    }
    .choice-container {  
        margin-top: 65px;  
     }
}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 
    .location-search-input{
        margin-left: -44px;
    }
    .container {
        
        margin: 21px !important;
       
    }
    .center-line {
        margin-left: 0%;
        border: solid #2f2f2f;
         height: 0px; 
        width: 70%;
        border-width: 0.5px;
         margin-bottom: 0px; 
        margin-top: 49px;
    }
    .search-img {
        height: 50px;
        width: 46px;
        margin-top: 38px;
        margin-left: 0px;
    }
    .search-button {
        display: block;
        background: transparent;
        color: #a0a0a0;
        border-color: #92793c;
        padding: 7px;
        width: 71px;
        margin-top: 42px;
        margin-left: 37px;
        border-top: none !important;
        border-left: none;
        border-right: none;
    }
    .choice-container {  
        margin-top: 65px;  
     }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .addressSearchContainer {
        
        top: 31%;
        left: 39%;
        
    }
    .location-search-input{
        margin-left: -44px;
    }
    .container {
        
        margin: 21px !important;
       
    }
    .center-line {
        margin-left: 0%;
        border: solid #2f2f2f;
         height: 0px; 
        width: 70%;
        border-width: 0.5px;
         margin-bottom: 0px; 
        margin-top: 49px;
    }
    .search-img {
        height: 50px;
        width: 46px;
        margin-top: 38px;
        margin-left: 0px;
    }
    .search-button {
        display: block;
        background: transparent;
        color: #a0a0a0;
        border-color: #92793c;
        padding: 7px;
        width: 71px;
        margin-top: 42px;
        margin-left: 37px;
        border-top: none !important;
        border-left: none;
        border-right: none;
    }
    .choice-container {  
        margin-top: 65px;  
     }
}

/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
    .addressSearchContainer {
      
        top: 31%;
        left: 39%;
        
    }
    .location-search-input{
        margin-left: -44px;
    }
    .container {
        
        margin: 21px !important;
       
    }
    .center-line {
        margin-left: 0%;
        border: solid #2f2f2f;
         height: 0px; 
        width: 70%;
        border-width: 0.5px;
         margin-bottom: 0px; 
        margin-top: 49px;
    }
    .search-img {
        height: 50px;
        width: 46px;
        margin-top: 38px;
        margin-left: 0px;
    }
    .search-button {
        display: block;
        background: transparent;
        color: #a0a0a0;
        border-color: #92793c;
        padding: 7px;
        width: 71px;
        margin-top: 42px;
        margin-left: 37px;
        border-top: none !important;
        border-left: none;
        border-right: none;
    }
    .choice-container {  
        margin-top: 65px;  
     }

}

/* Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
    .addressSearchContainer {
   
        top: 31%;
        left: 39%;
        
    }
    .location-search-input{
        margin-left: -44px;
    }
    .container {
        
        margin: 21px !important;
       
    }
    .center-line {
        margin-left: 0%;
        border: solid #2f2f2f;
         height: 0px; 
        width: 70%;
        border-width: 0.5px;
         margin-bottom: 0px; 
        margin-top: 49px;
    }
    .search-img {
        height: 50px;
        width: 46px;
        margin-top: 38px;
        margin-left: 0px;
    }
    .search-button {
        display: block;
        background: transparent;
        color: #a0a0a0;
        border-color: #92793c;
        padding: 7px;
        width: 71px;
        margin-top: 42px;
        margin-left: 37px;
        border-top: none !important;
        border-left: none;
        border-right: none;
    }
    .choice-container {  
        margin-top: 65px;  
     }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

}